body {
	text-align: center;
}
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
a:link,a:visited {
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#bebebe;
	width:150px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
a:hover,a:active
{
	background-color:#cc0000;
}